

.page-content-container {
    display: grid;
    grid-template-columns: 400px 453px;
    grid-column-gap: 20px;
    grid-template-areas: "sidebar main";
    overflow-y: auto;
    width: 900px;
    height: 500px;
  }
  
  .profile-sidebar {
    grid-area: sidebar;
    margin-left: 27px;
    width: 100%;
    margin: 0;
  }
  
  h1 {
    font-size: 10pt;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12pt;
  }

  p {
    font-size: 10pt;
  }
  
  li {
    font-size: 10pt;
  }

  .profile-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .profile-picture-container {
    display: grid;
    grid-template-columns: 170px 115px;
    grid-template-rows: 176px;
    grid-column-gap: 15px;
    margin-bottom: 12px;
  }
  
  .profile-picture-container p {
    margin: 0;
  }
  
  .profile-pic {
    grid-area: 1/1;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .personal-msg {
    grid-area: 1/2;
    margin: 0;
  }
  
  .gender-age {
    grid-area: 1/2;
  }
  
  .gender-age li:first-child {
    margin-top: 28px;
  }
  
  .last-login {
    grid-area: 1/2;
    align-self: end;
  }
  
  .last-login li:last-child {
    margin-bottom: 15px;
  }
  
  .pics-videos {
    grid-area: 1/1;
    justify-self: center;
    align-self: end;
  }
  
  .contact-box {
    border: 2px solid rgb(102, 153, 204);
    height: 160px;
    width: 300px;
    margin-bottom: 24px;
  }
  
  .contact-box h2 {
    color: white;
    background-color: rgb(102, 153, 204);
    height: 30px;
    padding-left: 10px;
  }
  
  .contact-images {
    display: grid;
    grid-template-columns: 150px 150px;
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  .myspace-url-box {
    border: 1px solid rgb(102, 153, 204);
    height: 65px;
    margin-bottom: 24px;
  }
  
  .myspace-url-box h3,
  .myspace-url-box p {
    margin: 0;
    padding: 0;
  }
  
  .myspace-url-box h3 {
    font-size: 6pt;
    padding-left: 2px;
  }
  
  .myspace-url-box p {
    padding-left: 6px;
    ;
  }
  
  .sidebar-table {
    border: 2px solid rgb(102, 153, 204);
    display: table;
    border-collapse: separate;
    border-spacing: 3px;
    width: 400px;
  }
  
  .sidebar-table-h2 {
    background-color: rgb(102, 153, 204);
    color: white;
    text-align: left;
    height: 30px;
    padding-left: 15px;
    padding-top: 2px;
  }
  
  .sidebar-table-header {
    vertical-align: top;
    text-align: left;
    width: 107px;
    background-color: rgb(177, 208, 240);
    color: #336699;
    padding: 3px;
    font-weight: bold;
    font-size: 8pt;
  }
  
  .sidebar-table-data {
    width: 184px;
    background-color: rgb(213, 232, 251);
    padding: 3px;
    font-size: 10pt;
  }
   
  
  .interests p {
    margin-top: 0;
  }
  
  .interests p:only-child,
  .interests p:last-child {
    margin-bottom: 0;
  }
  
  .interests table {
    margin-bottom: 13px;
  }
  
  .details table {
    margin-bottom: 22px;
  }
  
  .schools .sidebar-table-header {
    width: 228px;
    color: black;
    font-weight: normal;
  }
  
  .schools .sidebar-table-data {
    width: 63px;
    text-align: center;
    vertical-align: top;
  }
  
  .schools ul {
    margin-bottom: 2em;
  }
  
  .main {
    grid-area: main;
  }

  .user-network {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 433px;
    margin: auto;
    height: 75px;
    border: 2px solid black;
    margin-top: 13px;
  }
  
  .user-network h2 {
    font-size: 10pt;
  }
  
  .blog {
    display: grid;
    grid-auto-rows: 29px;
    flex-direction: column;
    margin-top: 13px;
    margin-left: 12px;
    margin-bottom: 16px;
  }
  
  .blog p {
    margin-top: 3px;
  }
  
  .main-section-header {
    background-color: #ffcc99;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 8px;
  }
  
  .main-section-h2 {
    color: #FF6600;
    margin-left: 20px;
  }
  
  .blurbs h3 {
    margin: 0;
    color: #FF6600;
    font-size: 7pt;
    margin-left: 15px;
  }
  
  .blurbs p:nth-of-type(5) {
    margin-bottom: 2em;
  }
  
  .blurbs p {
    margin: 0 10px 15px 15px;
  }
  
  .info {
    color: green;
    font-weight: bold;
  }
  
  .friends header {
    margin-bottom: 6px;
  }
  
  .friends p:nth-of-type(1) {
    margin-top: 0;
    margin-left: 15px;
  }
  
  .focus-highlight {
    color: #cc0000;
    font-weight: normal;
    font-size: 8pt;
  }
  
  .friend-pic-container {
    display: grid;
    grid-template-columns: repeat(4, 109px);
    grid-template-rows: 160px 193px;
  }
  
  .friend-pic-container figure {
    margin: 0;
  }
  
  .friend-pic-container figcaption {
    text-align: center;
  }
  
  .friend-pic-container img {
    display: block;
    margin: auto;
  }
  
  .friends-list-link {
    display: flex;
    justify-content: flex-end;
  }
  
  .friends-list-link {
    margin-top: 7px;
    margin-right: 8px;
    margin-bottom: 30px;
  }
  
  .friends-list-link a {
    color: #cc0000;
  }
  
.page-content-container::-webkit-scrollbar-track {
  background-color: #c0c0c0;
  border: 1px solid #c0c0c0;
}

.page-content-container::-webkit-scrollbar-thumb {
  background-color: #808080;
  border: 1px solid black;
  border-radius: 0px;
}

.page-content-container::-webkit-scrollbar {
  width: 17px;
  background-color: #c0c0c0;
}
