.desktop {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-image: url('../assets/images/Background.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }


  