.window {
  position: absolute;
  width: 320px;
  border: 2px solid #000;
  background: linear-gradient(135deg, #e0e4e9, #cfd2d6);
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.4);
  z-index: 10;
  font-family: 'Pixelated MS Sans Serif', sans-serif;
  overflow: hidden;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ff69b4;
  color: #fff;
  padding: 5px;
  border-bottom: 2px solid #000;
  cursor: grab;
  font-size: 14px;
  user-select: none;
}

.window-title {
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.window-content {
  padding: 15px;
  color: #333;
  background: #fdfdfd;
  border-top: 2px solid #000;
  line-height: 1.4;
  overflow-y: auto;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.contact-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icon img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.contact-icon p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}

.contact-description {
  text-align: center;
  font-size: 14px;
  color: #333;
}
